* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(38,2,59,1) 0%, rgba(72,9,121,1) 58%, rgba(141,0,255,1) 100%);
}